<mat-nav-list>
  <div class="logo py-4">

  </div>
  <!-- <h2 matSubheader class="mt-2">Your Budget Your Hand</h2> -->
  <mat-divider class="divder"></mat-divider>
  <a mat-list-item class="nav-list-item" routerLink="/dashboard">
    <i class="far fa-home-lg"></i><span class="nav-title">Home</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item" routerLink="/mylist">
    <i class="fas fa-clipboard-list"></i><span class="nav-title">My List</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item">
    <i class="fas fa-cart-plus"></i><span class="nav-title">Purchase</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item">
    <i class="fab fa-firstdraft"></i><span class="nav-title">Offer's</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item">
    <i class="fas fa-shipping-fast"></i> <span class="nav-title">Home Shopping</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item">
    <i class="fas fa-history"></i><span class="nav-title">Purchase History</span>
  </a>
  <mat-divider class="divider"></mat-divider>
  <a mat-list-item class="nav-list-item">
    <i class="fas fa-comment-alt"></i><span class="nav-title">FeedBack</span>
  </a>
</mat-nav-list>
