<header>
  <div class="navbar shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <div class="form-group">
        <input class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" type="text" placeholder="search product">
      </div>
      <span class="fas fa-search search-icon"></span>

    </div>
    <button (click)="openDialog()" class="btn btn-success">
      <i class="fas fa-hand-holding-usd"></i>&nbsp; Set Budget</button>
    <p>{{set.onEnter()}}</p>

    <button routerLink="/offers" class="btn btn-success">
      <router-outlet></router-outlet>
      <i style="font-size: 30px;color: aliceblue" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div></button>
  </div>

</header>
