<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 35px; color: aliceblue;" class="fas fa-shipping-fast">&nbsp;
      </i>


      <strong style="font-size: 30px; color: aliceblue;">Shopping App</strong>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" type="text" placeholder="search product">
      </div>
      <span class="fas fa-search search-icon"></span>

    </div>
    <button routerLink="./offers" class="btn btn-primary">
      <i style="font-size: 30px;color: aliceblue" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div></button>
  </div>

</header>
