.form-control{
  border-radius: 3px;
  width: 600px;
  margin-left: 0px;
  margin-top: 5px;

}
.btn ,btn-success{
  width: 120px;
  height: 50px;
  background-color: #48c9b0;
}
.search-icon{
  position: absolute;
  z-index: 10;
  right: 41%;
  top: 32px;
  color: #48c9b0;
}
