<!-- Add icon library -->

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<mat-card>
  <div class="card-group">
  <div class="card">
  <img src="assets/shadow.jpeg" class="rounded-circle" alt="user-image" width="170" height="170">

  <p id="name"><strong>Name: Kamlesh Dugade</strong></p>
  <p><b>Occupation: Software Developer</b></p>
  <p><b>Address: VIT College</b></p>
  <p><b>State: Maharashtra</b></p>
  <p><b>Country: India</b></p>
  <p><b>Contact: +917774997669</b></p>
  <p><b>Email: kamlesh.dugade20@vit.edu</b></p>
    <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kamlesh-dugade/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/kamleshpralhadrao.patil/"><i class="fa fa-facebook"></i></a>
  </div>
  </div>
  </div>
</mat-card> -->

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="card user-card">
        <div class="card-header">
          <h5>Profile</h5>
        </div>
        <div class="card-block">
          <div class="user-image">
            <img src="./assets/shadow.jpeg" class="img-radius" alt="User-Profile-Image">
          </div>
          <h6 class="name f-w-600 m-t-25 m-b-10">
            <i class="fas fa-at"></i>Ajaywagh_2298s
          </h6>
          <p class="text-muted">Active | Male | Born 23.05.1992</p>
          <hr>
          <ul class="list-unstyled activity-leval">
            <li class="active"></li>
            <li class="active1"></li>
            <li class="active2"></li>
            <li class="active1"></li>
            <li class="active"></li>
          </ul>

          <div class="card">
            <table class="detail">
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-user"></i>
                </td>
                <td class="tab-data"><label>
                  Full Name
                </label>
                </td>
                <td><span class="user-data">
                   Ajay Wagh
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-user-tie"></i>
                </td>
                <td class="tab-data"><label>
                  Occupation
                </label>
                </td>
                <td><span class="user-data">
                   Student
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-envelope-open-text"></i>
                </td>
                <td class="tab-data">
                  <label>
                    Email
                  </label>
                </td>
                <td>
                 <span class="user-data">
                   ajay@gmail.com
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-mobile-alt"></i>
                </td>
                <td class="tab-data">
                  <label>
                    Contact
                  </label>
                </td>
                <td>
                 <span class="user-data">
                   +91 588858588
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon"><i class="fas fa-street-view"></i></td>
                <td class="tab-data">
                  <label>
                    Address
                  </label>
                </td>
                <td>
                 <span class="user-data">
                   Lakshachanda, 9,Kirti Nagar, Nandgoan Road, Manmad
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-bookmark"></i>
                </td>
                <td class="tab-data">
                  <label>
                    State
                  </label>
                </td>
                <td>
                 <span class="user-data">
                   Maharshtra
                 </span>
                </td>
              </tr>
              <tr>
                <td class="tab-icon">
                  <i class="fas fa-bookmark"></i>
                </td>
                <td class="tab-data">
                  <label>
                    Country
                  </label>
                </td>
                <td>
                 <span class="user-data">
                   India
                 </span>
                </td>
              </tr>
            </table>
          </div>
          <hr>
          <div class="bg-c-green counter-block m-t-10 p-20">
            <div class="row">
              <div class="col-4">
                <i class="fa fa-comment"></i>
                <p>1256</p>
              </div>
              <div class="col-4">
                <i class="fa fa-user"></i>
                <p>8562</p>
              </div>
              <div class="col-4">
                <i class="fa fa-suitcase"></i>
                <p>189</p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center user-social-link">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

