<!-- Add icon library -->
<div class="card">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <img src="assets/shadow.jpeg" alt="John" style="width:100%">
  <h1>Kamlesh Dugade</h1>
  <p class="title">Angular Developer</p>
  <p>VIT College</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kamlesh-dugade/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/kamleshpralhadrao.patil/"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>
