<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      xmlns="http://www.w3.org/1999/html">
<mat-card>
  <div class="card-group">
  <div class="card">
  <img src="assets/shadow.jpeg" class="rounded-circle" alt="user-image" width="170" height="170">

  <p id="name"><strong>Name: Kamlesh Dugade</strong></p>
  <p><b>Occupation: Software Developer</b></p>
  <p><b>Address: VIT College</b></p>
  <p><b>State: Maharashtra</b></p>
  <p><b>Country: India</b></p>
  <p><b>Contact: +917774997669</b></p>
  <p><b>Email: kamlesh.dugade20@vit.edu</b></p>
    <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kamlesh-dugade/"><i class="fa fa-linkedin"></i></a>
    <a href="https://www.facebook.com/kamleshpralhadrao.patil/"><i class="fa fa-facebook"></i></a>
  </div>
  </div>
  </div>
</mat-card>

