a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.details a,p{
  width: fit-content;
  height: fit-content;
  align-text: center;
  text-decoration-color: #0d0d0d;

}
.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}
.container p{
  color: #0d0d0d;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: monospace;

}
#name{
  font-size: 18px;
}
.fa{
  margin-right: 19px;
}
.bottom-container{
  border-style: outset;
  margin-top: -90px;
  text-align: center;

  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,0,0,1));
}
