
<!-- <div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a (click)="filter('')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('electronics')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('fashion')">
        <img src="https://rukminim1.flixcart.com/flap/128/128/image/82b3ca5fb2301045.png?q=100" alt="">
        <h6>Fashion</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('jewelery')">
      <img style="width: 62px; margin-top: 5px;" src="https://rukminim1.flixcart.com/image/580/696/kkh6zrk0/jewellery-set/o/w/z/gt-ns-862-matushri-art-original-imafzt9teacakjyn.jpeg?q=50" alt="">
        <h6>Jewllery</h6>
      </a>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList | filter:searchKey:'title'">
      <div class="card col-md-3">
        <img src="{{item.image}}" alt="">
        <h3 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h3>
        <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
        <p><strong>Price:</strong>${{item.price}}</p>
      <button class="btn btn-primary" (click)=addtocart(item)>Add To Cart</button>
        <button class="btn btn-primary">Read More</button>
      </div>
    </ng-container>
  </div>
</div> -->
