.shopping-cart-item {
    padding: 16px;
    vertical-align: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.article-name {
    margin-left: 8px;
     font-size: 1.7em;


}

.article-count {
    margin-left: auto;
    font-size: 1.7em;
    text-align: right;
}
