<div class="box-main-container">
  <mat-card-content class="box-sub-container">

    <mat-card class="box-sub-box1">
      <mat-card-header class="mat-head">
        For Customer
      </mat-card-header>
      <mat-card-content class="login-box">
        Good customer service means meeting your customers’ needs in a timely, efficient, and pleasant way. Customer
        service can mean many things, depending on the environment.
      </mat-card-content>
      <mat-card-actions class="login-button">
        <button (click)="openDialog()" class="mat-head-button" mat-raised-button>Login</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="box-sub-box2">
    <!--  <mat-card-content mat-card-image>
        <img alt="super Budget"
             mat-card-image
             src="./assets/Premium%20Vector%20_%20Woman%20with%20cart%20in%20supermarket%20illustration.jfif">
      </mat-card-content> -->
      <app-customer-login></app-customer-login>
    </mat-card>
  </mat-card-content>
</div>
