.box-main-container{
  padding: 2%;
  margin: 5%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;

}
.box-sub-container{
  display : flex;
  flex-direction : row;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
}
.box-sub-box1{
  margin: 2%;
  width:50%;
  position: relative;
  box-shadow: none;
}
.box-sub-box2{
  display : flex;
  margin: auto;
  width:50%;
  position: relative;
  box-shadow: none;
}
.login-box{
 position: relative;
  margin: auto;
  padding: 9%;
  padding-top: 3%;
  text-align-all: justify;
  font-size: 25px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
  line-height: 1.6;
  padding-bottom: 7%;
}
.mat-head{
  width: 100%;
  position: relative;
  margin: auto;
  padding: 2%;
  padding-left: 6%;
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

.mat-head-button{
  width: 40%;
  position: relative;
  margin: auto;
  padding: 2%;
  font-size: 30px;
  font-family: Source Code Pro;
  word-spacing: 3px;
  color: aliceblue;
  background: #1ABC9C;
}
.login-button{
  padding-left: 10%;
}
@media screen and (max-width: 600px) {
 .mat-head {
    font-size: 16px;
   font-family: sans-serif;
   padding-left: 0px;
  }
  .login-box{
    position: relative;
    margin: auto;
    padding: 2%;
    text-align-all: justify;
    font-size-adjust: inherit;
    font-size: 10px;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    display: flow;
  }
  .mat-head-button{
    width: 50%;
    position: relative;
    margin: auto;
    padding: 2%;
    font-size: 15px;
    color: aliceblue;
    background: #1ABC9C;
  }
}
