<div class="box-main-container">
  <mat-card-content class="box-sub-container">

    <mat-card class="box-sub-box1">
      <mat-card-header class="mat-head">
        For Customer
      </mat-card-header>
      <mat-card-content class="login-box">
        Good customer service means meeting your customers’ needs in a timely, efficient, and pleasant way. Customer
        service can mean many things, depending on the environment.
      </mat-card-content>
      <mat-card-actions class="login-button">
        <button (click)="openDialog()" class="mat-head-button" mat-raised-button>Login</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="box-sub-box2">
      <mat-card-content mat-card-image>
        <img alt="super Budget"
             mat-card-image
             src="https://www.ellocentlabs.com/wp-content/uploads/2021/08/Untitled-design-48-1024x576.png">
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</div>
