<p>
  <mat-toolbar class="head-box">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>

      <span class="head-title"><mat-icon>shopping_cart</mat-icon> NO NAME</span>
      <span class="example-spacer"></span>
      <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
      </button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
         <mat-icon>login</mat-icon>
       </button> -->
      <button class="head-login-super btn btn-lg btn-outline-light"><i class="fas fa-sign-in-alt"></i> Login</button>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
</p>

