

//--------------------------------------------------------------
.box{
  height: 400px;
}
.ser-t{
 margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}
.col-lg-2{
  padding-top: 1%;
  padding-left: 1%;
  margin: 2%;
  width: 300px;
  height: 400px;
}
.icon1{
  font-size: 60px;
  padding-top: 30px;
  padding-left: 20px;
}
.icon1-box{
  font-size: 14px;
  padding-top: 25px;
}
.title{
  text-align: center;
  margin-top: 15px;
}
.card-img-1{
  height: 90%;
  width: 90%;
  margin-left:15px;
  padding-top: 15%;
}
.card-img-2{
  height: 70%;
  width: 70%;
  margin-left:40px;
  padding-top: 15%;
}
.card-img-3{
  height: 70%;
  width: 65%;
  margin-left:40px;
  padding-top: 15%;
}
.card-img-4{
  height: 213px;
  width: 80%;
  margin-left:40px;
  padding-top: 15%;
}
.footer-title{
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
}


