
      <div class="img-box">
          <div id="myCarousel" class="img-slider carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
              <li data-target="#myCarousel" data-slide-to="4"></li>
              <li data-target="#myCarousel" data-slide-to="5"></li>
              <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="././assets/Market%20image/offer1.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer2.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer3.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer4.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer5.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer6.jpg" alt="" >
              </div>

              <div class="item">
                <img src="././assets/Market%20image/offer1.jpg" alt="" >
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>

