
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="3"></li>
    <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="./assets/img/man.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1"><b>Men Navy Blue suit</b></h1>
              <h3 class="h2">Raymond Men Navy Blue Contemporary Fit Single-Breasted Formal Suit</h3>
              <p>
                Shop Raymond Medium Blue 2-Piece Suit for Men's Apparel online at best price in india at Tata CliQ. Choose your favorite Formal Wear & get free.
              </p>
              <p>
                <b>Price :  ₹ 7,999.00</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="./assets/img/tv.png" width="900" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>Mi TV 4A0</b></h1>
              <h3 class="h2">Full-HD Smart TV</h3>
              <p>
                - The Full-HD display delivers stunning visuals no matter what you are viewing<br>
                - DTS-HD® technology-enabled 20W speakers create an audio experience that matches the crisp images
              </p>
              <b>Price :  ₹ 32,999.00</b>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="./assets/img/bucket.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>Grocery Combo Pack</b> </h1>
              <h3 class="h2">Add Your Monthly Product in your own combo Pack</h3>
              <p>
               Select your monthly shopping upto ₹ 20000 and win the prices and coupon .
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="./assets/img/mobile.png" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1"><b>Galaxy Z Fold3 5G</b></h1>
              <h3 class="h2">Experience all Awesome Feature with Fast Processor </h3>
              <p>
                Take everyday experiences to the next level with the phone that fuels the passions of every fan.Galaxy S21 FE 5G is jam-packed with favorite features, including an all-day intelligent battery,* powerful processor, and triple-lens camera that help you enjoy the activities you heart most.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1">Proident occaecat</h1>
              <h3 class="h2">Aliquip ex ea commodo consequat</h3>
              <p>
                You are permitted to use this Zay CSS template for your commercial websites.
                You are <strong>not permitted</strong> to re-distribute the template ZIP file in any kind of template collection websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<div class="ser-t row">
  <mat-card class="col-lg-2">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title class="title">Total Reword</mat-card-title>
    <mat-card-content>
      <img class="card-img-1" src="assets/img/Reward.png">
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer class="footer-title">
      1000
    </mat-card-footer>
  </mat-card>
  <!-- ------------------------------------------------------------------------------------------ -->
  <mat-card class="col-lg-2">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title class="title">Total Sales</mat-card-title>
    <mat-card-content>
      <img class="card-img-2" src="assets/img/images.jfif">
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer class="footer-title">
      <b>₹</b> 6000
    </mat-card-footer>
  </mat-card>
  <!-- --------------------------------------------------------------------------------------------- -->
  <mat-card class="col-lg-2">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title class="title">Last Budget</mat-card-title>
    <mat-card-content>
      <img class="card-img-3" src="assets/img/budget.png">
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer class="footer-title">
      ₹ 5000
    </mat-card-footer>
  </mat-card>
  <!-- ------------------------------------------------------------------------------------------------- -->
  <mat-card class="col-lg-2">
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-title class="title">Home Delivery</mat-card-title>
    <mat-card-content>
      <img class="card-img-4" src="assets/img/home.jpg">
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-footer class="footer-title">
      1000
    </mat-card-footer>
  </mat-card>
</div>


