<div class="error-message" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<div id="scanner-container" class="shadow-lg">
  <!-- QuaggaJS will populate this element -->
</div>
<div class="controls row">
  <div class="col-sm-4"> </div>
  <div class="col-sm-4">
  <form>

    <input id="acceptAnyCode" type="checkbox" class="custom-control-input" [(ngModel)]="acceptAnyCode" name="acceptAnyCode" />&nbsp;
    <label for="acceptAnyCode">Accept any code</label>
      &nbsp;
    <button (click)="clearCart()" class="btn btn-primary " style="width: 200px">Clear cart</button>
  </form>
  </div>
</div>
<br>

<div class="shopping-cart">
  <span *ngIf="items.length === 0 else shoppingCartItems"  class="alert alert-danger col-sm-10" role="alert">Shopping cart is empty</span>
  <ng-template #shoppingCartItems>

    <app-scan-cart
      *ngFor="let articleAndCount of items"
      [article]="articleAndCount[0]"
      [count]="articleAndCount[1]">
    </app-scan-cart>

    <div class="shopping-cart-total">
      <b>Total: </b> <b style="font-size: 30px">{{ totalPrice }} ₹</b>
    </div>
  </ng-template>
</div>
