<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="log"><i class="fas fa-shopping-cart"></i></div>

  <div class="super">Super-Bug</div>

    <div class="spacer"></div>
  <div class="ilog">
    <i class="fab fa-facebook"></i>
  </div>
  <div class="ilog">
    <i class="fab fa-instagram"></i>
  </div>
  <div class="ilog">
    <i class="fab fa-twitter"></i>
  </div>
  <div class="ilog">
    <i class="fab fa-whatsapp" style="margin-right: 10px;"></i>
  </div>
</div>
<div class="content" role="main">
  <mat-card class="example-card">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-content class="example-card-p">
      <p>Take Shopping With</p><br> <p>Great Experiences</p>
    </mat-card-content>
  </mat-card>

 <mat-card class="card-login d-inline-flex">
    <mat-card class="card-login-b1">
      <mat-card-title class="card-login-b1-title">For Customer</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content class="example-card-b1-p1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
      </mat-card-content>
      <mat-card-actions style="margin-left:20px;" >
        <button mat-raised-button class="example-card-b1-a1">Login</button>
      </mat-card-actions>
    </mat-card>
   <mat-card class="card-login-b2">
     <mat-card-title class="card-login-b1-title">For Super-Market</mat-card-title>
     <mat-card-subtitle></mat-card-subtitle>
     <mat-card-content class="example-card-b1-p1">
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
     </mat-card-content>
     <mat-card-actions style="margin-left:20px;" >
       <button mat-raised-button class="example-card-b1-a1">Login</button>
     </mat-card-actions>
   </mat-card>
 </mat-card>
  </div>

