<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Contact Us</h5>
        <p class="cont-data">Address : xyz Colony, ABC Road, TIibetfix, 233222</p>
        <p class="cont-data">Email Address : ABC@example.com</p>
        <p class="cont-data">Mobile : +91 8754754795</p>
        <p class="cont-data">Phone Number : (02211) 332-233-229-222</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
<!-- add -->
      <!-- Grid column -->
      <div class="col-md-2 mb-md-3 mb-3 ">
        <div class="foot-icon d-inline-flex">
          <i class="icon-l fab fa-facebook"></i>
          <i class="icon-l fab fa-whatsapp"></i>
          <i class="icon-l fab fa-instagram"></i>
          <i class="icon-l fab fa-twitter"></i>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: www.Super.com
  </div>
  <!-- Copyright -->

</footer>
