<div class="container-login" style="box-shadow: none">
  <div class="row justify-content-center" style="box-shadow: none">
    <div class="col-xl-10 col-lg-12 col-md-10" style="box-shadow: none">
      <div class="" style="box-shadow: none">
        <div class="card-body p-0" style="box-shadow: none">
          <div class="row" style="box-shadow: none">
            <div class="col-lg-12" style="box-shadow: none">
              <div class="login-form" style="box-shadow: none">
                <div class="text-center">
                  <p class="header-about">About Us</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card-body p-0" style="box-shadow: none">
                    <div class="typewriter">
                      <p class="type" style="height: 60px">Supermarkets are characterized by large facilities (15,000 to
                        25,000 square feet [1,394 to 2,323 square metres]</p>
                      <p class="type">with more than 12,000 items), low profit margins (earning about 1 percent
                        operating profit on sales), high volume, and operations that serve the consumer’s total needs
                        for items such as food (groceries, meats, produce, dairy products, baked goods) and household
                        sundries.
                        They are organized according to product departments and operate primarily on a self-service
                        basis. Supermarkets also may sell wines and other alcoholic beverages (depending on local
                        licensing laws) and clothing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
