.example-large-box {
  height: 400px;
  width: 400px;
  padding-top: 2%;
}
.main-ta-box{

}
.til{
  color: #239B56;
}
.ta-box{
  color: #2E86C1;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .example-large-box {
    height: 100%;
    width: 100%;
    box-shadow: none;
  }
}
