<div class="container-login" style="box-shadow: none">
  <div class="row justify-content-center" style="box-shadow: none">
    <div class="col-xl-10 col-lg-12 col-md-10" style="box-shadow: none">
      <div class="" style="box-shadow: none">
        <div class="card-body p-0" style="box-shadow: none">
          <div class="row" style="box-shadow: none">
            <div class="col-lg-12" style="box-shadow: none">
              <div class="login-form" style="box-shadow: none">
                <div class="text-center">
                  <p class="header-about">Ours Aim</p>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="card-body p-0 text-center" style="box-shadow: none">
                    <div class="box-aim">
                      <div class="d-inline-flex"></div>
                      <img alt="Building Sales and Profits"
                           mat-card-image
                           src="https://previews.123rf.com/images/vectorknight/vectorknight1712/vectorknight171200054/92072018-growing-graph-icon-vector-isolated-flat-style-symbol-.jpg">
                      <br> <b class="t">Building Sales and Profits</b><br>
                      The major objective of most grocery store companies is to sell products and earn the highest
                      profits possible.
                      <br>
                      <img alt="Increasing Customer Traffic" mat-card-image
                           src="https://secure2.sfdcstatic.com/assets/images/hub/service/customer-service-sales/V1-Leverage-Customer-Service-HEADER.jpg"
                           style="width: 200px;">
                      <br>
                      <b class="t">Increasing Customer Traffic</b><br>
                      Small grocery store companies also strive for more customer traffic in their stores.
                      <br>
                      <img alt="Building Customer Loyalty"
                           mat-card-image
                           src="https://image.shutterstock.com/image-vector/customer-loyalty-ink-business-vector-600w-636040532.jpg">
                      <br>
                      <b class="t">Building Customer Loyalty</b><br>
                      Small grocery store companies aim to increase customer loyalty in their stores.
                      <br>
                      <img alt="Improving Department Ratings"
                           mat-card-image
                           src="https://previews.123rf.com/images/aquir/aquir1612/aquir161205315/67773166-time-to-improve-stamp-sign-seal.jpg">
                      <br>
                      <b class="t">Improving Department Ratings</b><br>
                      Some grocery store companies conduct periodic marketing research on their various departments:
                      Produce, deli, meat, dairy and customer service.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

