.spacer {
  flex: 1;
  margin-right: 50px;
}

.super {
  font-size: 50px;
  position: relative;
  margin: 20px;
  margin-left: 2px;
  display: flex;
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bold;
}

.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 170px;
  display: flex;
  align-items: center;
  background-color: #28B463;
  color: white;
  font-weight: 600;
  box-shadow: 0 10px 7px -4px #ABB2B9;
}
