<!--<div class="body">-->
<!--<div id="map"></div>-->
<!--</div>-->

<div class="container">
    <iframe allowfullscreen="" class="maps" width="100%" height="600px" frameborder="0" id="map-layer" name="map-layer"
            src="https://www.google.com/maps/embed/v1/place?q=near%20by%20bigbazzer&key=AIzaSyC-5CY9mOCeg5Y3IhPqi_Yd0-DZtWrJl-E">
    </iframe>
</div>

<!--<div class="gmap_unix card-body">-->


<!--    <div id="map" class="gmap_unix card-body">-->
<!--        &lt;!&ndash; <iframe id="myiframe" name="myiframe" allowfullscreen="" class="maps" frameborder="1" height="800px" width="100%" ></iframe>&ndash;&gt;-->
<!--        <iframe id="myiframe" name="myiframe" allowfullscreen="" class="maps" frameborder="1" height="800px" width="100%" ></iframe>-->
<!--    </div>-->

<!--    <script language="javascript">-->
<!--        $(function() {-->
<!--            $("#btn").on("click", function(e) {-->
<!--                e.preventDefault();-->
<!--                var dest = document.getElementById("dest").value;-->

<!--                $("#form").hide();-->
<!--                var url = 'https://www.google.com/maps/embed/v1/directions?origin=current+location&destination=' + dest + '&key=AIzaSyC-5CY9mOCeg5Y3IhPqi_Yd0-DZtWrJl-E';-->

<!--                document.getElementById("myiframe").setAttribute("src", url);-->

<!--                $("#form").show();-->
<!--                $("#map").show();-->
<!--            });-->
<!--            $(document).ready(function(){-->
<!--                $("#map").hide();-->
<!--            });-->
<!--        });-->
<!--    </script>-->


<!--</div>-->
