:host{
  display: flex;
  flex-direction: column;
  height:100%;

}
mat-drawer{
  width: 260px;
  background: #48C9B0;
}

mat-drawer-container{
  height: 100%;
}
.box-nav{
  height: 100%;
  background: #48C9B0;
}
