.card {
  height: 60vh;
  margin: 25px;
  padding: 25px;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
}

h4,
h6 {
  font-weight: 400;
}

.center {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .25rem;
}

.center .btn {
  font-size: 15px !important;
  margin-top: 0px !important;
  padding-bottom: 20px;
  border-radius: 3px !important;
  width: 190px;
  height: 35px;
}
.container{
  margin-left: 0px;
  padding-left: 0px;
  width: 100%;
}
