<!--<h2>Offer's page loading... !</h2>-->
<!--<img class="center" src="assets/loading-animation.gif">-->
<div class="row">
    <div class="coupon">
        <div class="col-sm-12">
                <h1>Smart Shopping Offer</h1>
            <img src="./assets/happyhour.jpg" alt="Avatar">

            <div style="background-color:white">
                <h2><b>30% OFF YOUR PURCHASE</b></h2>
                <p>We’re so happy to have you on board! As a thank you, we’ve got a special 20% discount just for you.</p>
            </div>
                <br><p>Use Promo Code: <span class="promo">GMPMCA111</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
    <br><br>
    <div class="coupon">
        <div class="col-sm-12">
            <h1>Smart Shopping Offer</h1>
            <img src="./assets/offerimg1.jpg" alt="Avatar">
            <div style="background-color:white">
                <h2><b>Upto 50% OFF YOUR PURCHASE</b></h2>
                <p>It’s a great time for shopping! </p>
                <p>Don’t hesitate – the best deals are selling out fast!</p>
            </div>
                <br><p>Use Promo Code: <span class="promo">Kamlesh777</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="coupon">
        <div class="col-sm-12">
            <h1>Smart Shopping Offer</h1>
            <img src="./assets/vegetable (1).png" alt="Avatar">
            <div style="background-color:white">
                <h2><b>20% OFF YOUR PURCHASE</b></h2>
                <p>We’re so happy to have you on board! As a thank you, we’ve got a special 20% discount just for you.</p>
            </div>
            <br><p>Use Promo Code: <span class="promo">ARWMCA111</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
    <br><br>
    <div class="coupon">
        <div class="col-sm-12">
            <h1>Smart Shopping Offer</h1>
            <img src="./assets/bigsale.jpg" alt="Avatar">
            <div style="background-color:white">
                <h2><b>Upto 30% OFF YOUR PURCHASE</b></h2>
                <p>It’s a great time for shopping! </p>
                <p>Don’t hesitate – the best deals are selling out fast!</p>
            </div>
            <br><p>Use Promo Code: <span class="promo">KPDMCA232</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="coupon">
        <div class="col-sm-12">
            <h1>Smart Shopping Offer</h1>
            <img src="./assets/happyhour.jpg" alt="Avatar">
            <div style="background-color:white">
                <h2><b>20% OFF YOUR PURCHASE</b></h2>
                <p>We’re so happy to have you on board! As a thank you, we’ve got a special 20% discount just for you.</p>
            </div>
            <br><p>Use Promo Code: <span class="promo">ARWMCA111</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
    <br><br>
    <div class="coupon">
        <div class="col-sm-12">
            <h1>Smart Shopping Offer</h1>
            <img src="./assets/offerimg2.jpg" alt="Avatar">
            <div style="background-color:white">
                <h2><b>Upto 30% OFF YOUR PURCHASE</b></h2>
                <p>It’s a great time for shopping! </p>
                <p>Don’t hesitate – the best deals are selling out fast!</p>
            </div>
            <br><p>Use Promo Code: <span class="promo">KPDMCA232</span></p>
            <h2 class="expire" style="text-size:40px;">Expires: Jan 31, 2022</h2>
        </div>
    </div>
</div>
